
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid">
    <div class="card p-3" >
        <div class="card-header">
            <div class="d-flex justify-content-between">

                <b>Meeting Minutes</b>
                <div>
                    <i class='fa fa-edit'></i>
                </div>
            </div>
        </div>
        <form>

            <div class="card p-3">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <div class="d-flex">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input radioBtn" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Corporate</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label radioBtn" for="inlineRadio2">Individual</label>
                            </div>
                        </div>
                        <hr />
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row mb-1">
                            <label for="" class="col-sm-2 col-form-label">
                                Customer Name
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option>select customer name</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-1">
                            <label for="" class="col-sm-2 col-form-label">
                                Date
                            </label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="" placeholder="metting place">

                            </div>
                            <label for="" class="col-sm-2 col-form-label">
                                Time
                            </label>
                            <div class="col-sm-4">
                                <input type="time" class="form-control" id="" placeholder="metting place">

                            </div>
                        </div>


                        <div class="form-group row mb-1">
                            <label for="" class="col-sm-2 col-form-label">
                                Meeting Place
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="" placeholder="metting place">
                            </div>
                        </div>

                        <div class="form-group row mb-1">
                            <label for="mettingAgenda" class="col-sm-2 col-form-label">
                                Attends From Client Side
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="" placeholder="Present client side"></textarea>
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label for="mettingAgenda" class="col-sm-2 col-form-label">
                                Attends From Host Side
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="" placeholder="Present self side"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row mb-1">
                            <label for="mettingAgenda" class="col-sm-2 col-form-label">
                                Meeting Agenda
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="" placeholder="Meeting Agenda"></textarea>
                            </div>
                        </div>

                        <div class="form-group row mb-1">
                            <label for="mettingAgenda" class="col-sm-2 col-form-label">
                                Meeting Discussion
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="" placeholder="Meeting Discussion"></textarea>
                            </div>
                        </div>

                        <div class="form-group row mb-1">
                            <label for="mettingAgenda" class="col-sm-2 col-form-label">
                                Meeting Decision
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="" placeholder="Meeting Decision"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 p-3">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group row mb-1">
                            <label for="" class="col-sm-2 col-form-label">
                                Interested Product/Service
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option>select product/service interested</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label for="" class="col-sm-2 col-form-label">
                                Quantity
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="">
                            </div>
                            <label for="" class="col-sm-2 col-form-label">
                                Unit
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" id="">
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <button class="btn btn-sm" style="background-color:silver">
                        <i class='fa fa-plus-square'></i>

                        Add
                    </button>
                </div>

            </div>


            <div class="card mt-3 mb-3 p-3" style="height:200px;">
                <div class="row">
                    <table class="table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>SL#</th>
                                <th>Interested Product/Service Name</th>
                                <th>Quantity</th>
                                <th>Unit</th>
                                <th style="width:5%">Edit</th>
                                <th style="width:5%">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="6" class="text-center">No matching records found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex mt-5 mb-3" style="gap:5px;">
                <div>
                    <button class="btn btn-sm" style="background-color:silver">
                        <i class='fa fa-save'></i>

                        Save
                    </button>
                </div>
                <div>
                    <button class="btn btn-sm" style="background-color:silver">
                        <i class='fa fa-refresh'></i>


                        Refresh
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            handleCustomer()

            $(".radioBtn") // select the radio by its id
                .change(function () { // bind a function to the change event
                    if ($(this).is(":checked")) { // check if the radio is checked
                        var val = $(this).val(); // retrieve the value
                        console.log(val)
                    }
                });

        });

        function handleCustomer() {

                $.ajax({
                url: "/api/GetAllCorporateCustomer",
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: function (result, status) {

                       console.log(result)

                    }

                })

        }

    </script>
}